{% extends 'basesec.html.twig' %}

{% trans_default_domain ea is defined ? ea.i18n.translationDomain : (translation_domain is defined ? translation_domain ?? 'messages') %}

{% block body_class 'page-login' %}
{% block page_title %}{{ page_title is defined ? page_title|raw : (ea is defined ? ea.dashboardTitle|raw : '') }}{% endblock %}

{% block wrapper_wrapper %}
    {% set page_title = block('page_title') %}
    {% set _username_label = username_label is defined ? username_label|trans : 'login_page.username'|trans({}, 'EasyAdminBundle') %}
    {% set _password_label = password_label is defined ? password_label|trans : 'login_page.password'|trans({}, 'EasyAdminBundle') %}
    {% set _sign_in_label = sign_in_label is defined ? sign_in_label|trans : 'login_page.sign_in'|trans({}, 'EasyAdminBundle') %}
<div class="login-wrapper">
    <header class="main-header mb-4">
        <div id="header-logo">

        </div>
    </header>
    <section class="content">
        <form method="post">


            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <h1 class="h3 mb-3 font-weight-normal">Por Favor autentiquese</h1>
            {% if error %}
                <div class="w-100 alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <div class="form-group field-text">
                <label for="username" class="sr-only form-control-label required">Usuario</label>
                <div class="form-widget form-widget-with-icon">
                    <i class="fa fa-fw fa-user"></i>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                </div>
            </div>

            <div class="form-group field-password">
                <label for="password" class="sr-only form-control-label required">{{ _password_label }}</label>
                <div class="form-widget form-widget-with-icon">
                    <i class="fa fa-fw fa-lock"></i>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
            <div class="form-group field-button">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
            </div>
        </form>

        <script type="text/javascript">
            const loginForm = document.querySelector('form');
            loginForm.addEventListener('submit', () => {
                loginForm.querySelector('button[type="submit"]').setAttribute('disabled', 'disabled');
            }, false);
        </script>
        </form>
    </section>
{% endblock %}
